@import 'nav.css';
@import 'footer.css';

.hero-section
{
    width: 100%;
    height: 100%;
    background-image: url('../img/Back.png');
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: left;
}

.hero-section .logo
{
    height: 150px;
    display: block;
    margin: auto;
}

.hero-section .sub-heading
{
    margin-top: 10px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}
.card 
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0px;
  text-align: center;
  font-family: arial;
  width: 500px;
  border: 5px solid rgb(111,41,97);
  border-radius: .5em;
  padding: 10px;
  display: inline-block;
}
.price 
{
  color: grey;
  font-size: 22px;
}
h1
{
  color: royalblue;
  background-color: lightgray;
}
p
{
padding-left:500px ;
font-size: 23;
color: white;
}
.product
{    
border: 1px solid #E0E0E0;
margin: 10px 0px 0px 10px;
padding: 10px;
text-align: center;
width: 300px;
background-color: #efefef;
float: left;
padding: 10px;
display: inline-block;
vertical-align: middle;
height: 200px;
}
.btn
{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

